/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --color-primary :#11101d;
    --color-secondary : #1d1b31;
    --color-text : #fff;
    --color-helper : #000;

    --material-color:#6a61d9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: var(--color-primary);
    z-index: 100;
    transition: all 0.5s ease;
}
.sidebar.close-side{
    width: 78px;
}
.sidebar .logo-details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}
.sidebar .logo-details i{
    font-size: 30px;
    color: var(--color-text);
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}
.sidebar .logo-details .logo_name{
    font-size: 22px;
    color: var(--color-text);
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}
.sidebar.close-side .logo-details .logo_name{
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links{
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}
.sidebar.close-side .nav-links{
    overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
    display: none;
}
.sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
    background: var(--color-secondary);
}
.sidebar .nav-links li .iocn-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar.close-side .nav-links li .iocn-link{
    display: block
}
.sidebar .nav-links li i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: var(--color-text);
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
    transform: rotate(-180deg);
}
.sidebar.close-side .nav-links i.arrow{
    display: none;
}
.sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar .nav-links li a .link_name{
    font-size: 18px;
    font-weight: 400;
    color: var(--color-text);
    transition: all 0.4s ease;
}
.sidebar.close-side .nav-links li a .link_name{
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: var(--color-secondary);
    display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
    display: block;
}
.sidebar .nav-links li .sub-menu a{
    color: var(--color-text);
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
    opacity: 1;
}
.sidebar.close-side .nav-links li .sub-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}
.sidebar.close-side .nav-links li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
    display: none;
}
.sidebar.close-side .nav-links li .sub-menu .link_name{
    font-size: 18px;
    opacity: 1;
    display: block;
}
.sidebar .nav-links li .sub-menu.blank{
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
    top: 50%;
    transform: translateY(-50%);
}
.sidebar .profile-details{
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-secondary);
    padding: 12px 0;
    transition: all 0.5s ease;
}
.sidebar.close-side .profile-details{
    background: none;
}
.sidebar.close-side .profile-details{
    width: 78px;
}
.sidebar .profile-details .profile-content{
    display: flex;
    align-items: center;
}
.sidebar .profile-details img{
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: var(--color-secondary);
    transition: all 0.5s ease;
}
.sidebar.close-side .profile-details img{
    padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
    color: var(--color-text);
    font-size: 15px;
    font-weight: 500;
    white-space: break-spaces;
}
.sidebar.close-side .profile-details i,
.sidebar.close-side .profile-details .profile_name,
.sidebar.close-side .profile-details .job{
    display: none;
}
.sidebar .profile-details .job{
    font-size: 12px;
}
.home-section{
    position: relative;
    background: #E4E9F7;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}
.sidebar.close-side ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
}
.home-section .home-content{
    height: 60px;
    display: flex;
    align-items: center;
    background: #fff;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
    color: var(--color-primary);
    font-size: 35px;
}
.home-section .home-content .bx-menu{
    margin: 0 15px;
    cursor: pointer;
}
.home-section .home-content .text{
    font-size: 125%;
    font-weight: 600;
}
@media (max-width: 400px) {
    .sidebar.close-side .nav-links li .sub-menu{
        display: none;
    }
    .sidebar{
        width: 78px;
    }
    .sidebar.close-side{
        width: 0;
    }
    .home-section{
        left: 78px;
        width: calc(100% - 78px);
        z-index: 100;
    }
    .sidebar.close-side ~ .home-section{
        width: 100%;
        left: 0;
    }
}
.bg-orange{
    background-color:  #9561e2 !important;

}
.icon-dash{
    font-size: 44px;
}
.card-img, .card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    height: 200px;
    width: auto;
    max-width: 100%;
}
.btn-outline-warning {
    color: #ffc107;
    border-color: #ffc107;
}
.btn-outline-warning:hover {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.modal-dialog-centered.modal-dialog-scrollable .modal-content {
    border: none;
    border-radius: 0;
}
.modal-title {
    margin-bottom: 0;
    line-height: initial;
}
.modal-dialog-scrollable .modal-header, .modal-dialog-scrollable .modal-footer {
    flex-shrink: 0;
    padding: 10px;
}
.outline-none:hover{
    outline: none !important;
    box-shadow: none;
}
.outline-none:focus{
    outline: none !important;
    box-shadow: none;
}
.filepond--credits{
    display: none !important;
}
.custom-file-upload{
    background: #eee;
    padding: 5px 5px;
    height: 40px;
    color: #607d8b;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    border: 2px dashed #d7d7d7;
}
.custom-file-upload input[type="file"]{
    display: none;
}
.form-control{
    border-radius: 0;
}
.upload-active {
    background: #6dc770;
    padding: 14px 5px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    border: none;
    position: relative;
}

.upload-active p{
    display: inline;
    border-radius: 4px;
    background-color: #4caf50;
    padding: 5px;
    font-size: 15px;
    position: absolute;
    left: 5px;
    top: 3.3px;
}
.btn-warning {
    color: #212529 !important;
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
}
.bg-warning{
    background-color: #ffc107 !important;
}
.text-warning{
    color: #ffc107 !important;
}

.text-btn-warning{
    background: #ffc1075c;
}
.text-btn-danger{
    background: #f4433640;
}
.text-btn-primary{
    background: #3490dc17;
    color: #3490dc;
    outline: none !important;
    box-shadow: none !important;
}
.text-btn-primary:hover{
    background: #3490dc3d;

}
#upload-status{
    margin: 0px !important;
}
/*  switch style   */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
/* end switch style   */
.circle-danger{
    background: #ff572240;
    padding: 8px;
    border-radius: 50%;
    color: #f44336;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 4px 1px #ff5722;
}
.themes-wrapper a{
    text-decoration: none;
}
.theme-color{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.theme-color i{
    font-size: 42px;
}
.theme-text-color{
    color: var(--color-primary) !important;
}

.btn-primary{
    color: var(--color-text);
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}
.btn-primary:hover {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}

/* increase box */

.increase-box{
    font-size: 18px;
    background: #8bc34a;
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.decrease-box{
    font-size: 18px;
    background: #e91e63;
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.box-count{
    width: 20px;
    text-align: center;
}
.table-responsive{
    min-height: 50vh;
}


/* */
